.headerSideContainer{
    height:37rem!important;
    background-image: url('https://i.ibb.co/zF3szcx/backgroundimage1.jpg')!important;
    background-repeat:no-repeat;
    background-size: 100% 100%!important;
    opacity:1;
} 