.sendBtn{
    background-image:linear-gradient(-90deg,red,#333);
    color:white;
}

input::placeholder{
   color:'white'
}
.sendButton{
   background-image:linear-gradient(-90deg,#a03c3a,#3e1e1e) ;
   border-radius: 0.70rem;
   color:white;
}
.sendButton:hover{
background-image:linear-gradient(-90deg,#3e1e1e,#a03c3a) ;
}

@media only screen and (min-device-width: 1400px) and (max-device-width:2300px) {
    .addMessageContainer{
     width:60%!important;
     margin-left:20%!important;
     margin-right:20%!important;
    }
 }
 @media only screen and (min-device-width: 1200px) and (max-device-width:1399px) {
    .addMessageContainer{
     width:65%!important;
     margin-left:20%!important;
     margin-right:15%!important;
    }
 }
 @media only screen and (min-device-width: 991px) and (max-device-width:1199px) {
     .addMessageContainer{
      width:70%!important;
      margin-left:15%!important;
      margin-right:15%!important;
     }
  }
  @media only screen and (min-device-width: 768px) and (max-device-width:991px) {
     .addMessageContainer{
      width:70%!important;
      margin-left:15%!important;
      margin-right:15%!important;
     }
  }
  @media only screen and (min-device-width: 0px) and (max-device-width:767px) {
   
     .addMessageContainer{
         width:94%!important;
         margin-left:3%!important;
         margin-right:3%!important;
        }
     
    }