.imageSearchResult{
    height:233px!important;
}
.HeartIcon{
    color:#d60841!important;
}
.downloadIcon{
    color:#f1a81a!important;
}
.commentsIcon{
    color:#f82c28
    !important;
}
.flowersShow{
    cursor:pointer;
}