.headerStyle {
    padding-bottom: 2%!important;
    color:white!important;
    cursor:pointer;
}
#navbarContainer{ 
    font-family: 'Philosopher', sans-serif;
}
.logStyle{
    padding:0px 8px!important;
}



.headerStyle a, .h2HeaderColor {
    color: white!important;
}
.lengthStyle{
    text-decoration: none!important;
}
